.menu {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
  }

  &__item {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
  }

  button {
    padding: 6px 12px;
  }
}
