@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

$color-bg: #253D5B;

body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 11fr;
  grid-template-areas: "header" "content";
  width: 100%;
  height: 100vh;
}

.header {
  grid-area: header;
  color: #ffffff;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  background-color: $color-bg;
}

.content {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menu editor";
  grid-area: content;
}

.menu {
  grid-area: menu;
  background-color: $color-bg;
}

.editor {
  grid-area: editor;

  &__canvas {
    width: 100%;
    height: 100%;
  }

  &__canvas:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #ffffff;
  // font-size: 1.2em;
  border: 1px solid #ffffff;
  border-radius: 0.15em;
}
